body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:100vh;
    align-items:center;
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgba(26, 23, 23, 0.808);
}

h1{
    color:white;
}

.calculadora{
    background-color:rgb(231, 142, 142);
    width: 300px;
    border-radius:20px;
    padding: 20px;
}

#display{
    width: 100%;
    box-sizing:border-box;
    height: 50px;
    border:none;
    border-radius:6px;
    background-color:rgb(246, 246, 246);
    text-align: right;
    font-size: 23px;
    margin-bottom: 15px;
}

.box-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}

button{
    border: none;
    height: 50px;
    font-size: 20px;
}

button:hover{
    background-color:rgb(235, 185, 185);
    cursor:pointer;
    transition:0.5s;
}

.btn-zero{
    grid-column: 1 / 3;
}

.btn-igual{
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4;
}